---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>Some of the projects that I have been working on</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <ol>
        {% for project in site.projects %}
        {% assign sorted_projects = site.projects | sort: 'rank' %}
        {% endfor %}
        {% for project in sorted_projects %}
          <li class="numberless">
            <img src={{ project.image }}>
            <h2><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h2>
            <hr />
          </li>
        {% endfor %}
      </ol>
      <!-- {{ content }} -->
    </div>
  </section>
</article>
