---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <!-- <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p> -->
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <h2>{{ page.subtitle }}</h2>
    </br>
      <img src={{ page.image }}>
      <p>{{ content }}</p>
      <h3><a href="{{ page.heroku }}" target="_blank">View it here!</a></h3>
      <h3><a href="{{ page.git }}" target="_blank">See the code!</a></h3>
      <a href="/projects" class="button fit">Back to Projects</a>
    </div>
  </section>
</article>
